{% extends "base.html" %}
{% block title %}Smisher | Shortcodes{% endblock %}
{% block content %}
<h1>Shortcodes</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Created</th>
                <th>Available?</th>
                <th>Available On</th>
            </tr>
        </thead>
        <tbody>
            {% for code in codes %}
            <tr>
                <td>{{ code.shortcode }}</td>
                <td>{{ code.description }}</td>
                <td>{{ code.created_at }}</td>
                <td>{{ code.is_available }}</td>
                {% if code.available_on %}
                <td>{{ code.available_on }}</td>
                <td> | Bid on it! (?)</td>
                {% else %}
                <td>Now!</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}